.perfil-medic{
    display: flex;
    align-items: center;
    gap: 35px;
}

.fotograph-medic{
    border-radius: 100px;
    width: auto;
    height: 15vh;
}

.perfil-medic-content{
    line-height: 34.4px;
    text-align: center;
    padding-top: 20px;
}

.name{
    color: var(--color-grey-1);
    font-weight: 700;
    font-size: 35px;
}

.details{
    font-weight: 400;
    size: 25px;
}