.bar-options{
    position: fixed;
    top: 90%;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--color-grey-3);
    padding: 20px;
    font-weight: 400;
    width: 100%;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    line-height: 26.5px;
}

.marked{
    color: var( --brand-color2);
}

.button-fly{
    position: fixed;
    bottom: 80px;
    right: 5px;
    z-index: 200;
    background-color: var(--brand-color2);
    color: #fff;
    width: 70px;
    height: 70px;
    padding: 20px;
    border-radius: 60px;
    text-align: center;
}

.bi{
    font-size: 25px;
    font-weight: 700;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 54%;
    right: 5px;
}

.action-button {
    padding: 25px;
    border-radius: 50%;
    background-color: var(--brand-color2);
    color: #fff;
    cursor: pointer;
    width: 70px;
    height: 70px;
    text-align: center;
}

.button-controller{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.label-name{
    background-color: #fff;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
}